<aside class="sidebar">

    <section class="sidebar-section sidebar-dossiers">
        <h3 class="sidebar-label">Neueste Dossiers</h3>
        {{#get "posts" limit="8" order="published_at desc"}}
            <ul class="dossier-list">
            {{#foreach posts}}
                <li class="dossier-item">
                    <a href="{{url}}" class="dossier-link">{{title}}</a>
                </li>
            {{/foreach}}
            </ul>
        {{/get}}
    </section>

    <section class="sidebar-section sidebar-newsletter">
        <p class="sidebar-newsletter-label">Newsletter</p>
        <p class="sidebar-newsletter-text">{{@custom.sidebar_newsletter_text}}</p>
        <a href="#/portal/signup" class="newsletter-btn">{{@custom.newsletter_signup_label}}</a>
    </section>

</aside>
